/*
 * Skin
 *
 * If a style is defined in here, you can safely delete it without blowing up
 * the site, as it's purely cosmetic.
 *
 * Description: Use this file to easily customize colors and fonts.
 * Version: 1.0.0
 * License: GPL 3.0 or later
 */

/* ---------------------
 * CONTENTS:
 * =Layout
 * =Colors
 * =Typography
 * =Forms
 * =SVG
 * =Modules
--------------------- */

//* ===== Layout ===== *//

$size__content-width: 1080px;

/* Max-width of site content when using the boxed layout, in pixels. */
$size__boxed-width: 1080px;

/* Width of the logo/title side of the header on desktop, as a percent. */
$size__header-title-width: 50%;

/* Width of the copyright side of the footer on desktop, as a percent. */
$size__footer-title-width: 40%;

/* Width of the sidebar on desktop, as a percent. */
$size__sidebar-width: 28%;

/* Width of the padding between sidebar/main content on desktop, a percent. */
$size__content-sidebar-padding: 2%;

/* Max height of post thumbnails in archive view, in pixels. */
$size__max-thumbnail-height: 150px;

/* Max height of featured image in single post view, in pixels. */
$size__max-featured-height: 500px;

/* Max height for generic iframes (but not videos) */
$size__max-embed-height: 500px;

/* Padding for posts. One value in rem. */
$size__post-padding: 2rem;

//* ===== Colors ===== *//

/* These are mostly backgrounds. See the Typography section for text colors. */

body {
	background: #fff;
}

/* Color of the "short line" hr style in Gutenberg */
.wp-block-separator:not(.is-style-dots) {
	background: #8c8c8c;
}

ins,
mark {
	background: #fff9c0;
}

code,
pre {
	background: #eee;
}

/* Skip-to-content link */
.screen-reader-text {
	&:focus {
		background-color: #f1f1f1;
	}
}

$color__site-title: #000;

.site__title a {
	color: $color__site-title;

	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: $color__site-title;
	}
}

.site.boxed {
	box-shadow: 1px 1px 10px #f3f3f3;
}

$color__nav-main-link-bg: #000;

.nav-main {
	background: #dadada;

	a {
		color: $color__nav-main-link-bg;

		&:hover,
		&:focus,
		&:active {
			background: #bababa;
		}

		&:visited {
			color: $color__nav-main-link-bg;
		}
	}

	.nav__list-desktop-h {
		background: #ececec; // Background of expanded hamburger menu on mobile
	}
}

@media screen and (min-width: 600px) {
	.nav-main {
		.nav__list-desktop-h {
			background: none;

			/* Dropdown submenu on desktop */
			.sub-menu {
				background: #fff;
			}
		}
	}
}

/* Hamburger menu button */
$color__toggle-button: blue;

/* To change the menu icon, edit header.php. The svg is added in the template so
we can target the fill color for hover styles. */
.nav-main__toggle {
	background: none;
	margin: 1rem;

	svg {
		fill: $color__toggle-button;

		&:hover,
		&:focus {
			fill: lighten($color__toggle-button, 20%);
		}
	}
}

.site__content {
	background: #f6f6f6;
}

.post,
.type-attachment {
	background: #fff;
	box-shadow: 0 3px 6px #ccc;
}


/* This is a little corner ribbon that says "Featured" on sticky posts. See
magic_hat_sticky_ribbon() in Template Tags to edit the ribbon text. */
.sticky-ribbon {
	span {
		background: #79a70a;
		box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.comment,
.pingback,
.trackback {
	background: #eee;

	.meta-link {
		text-decoration: none;

		/* Edit, spam, delete comment icons */
		svg {
			fill: #adadad;

			&:hover,
			&:focus {
				fill: #908a8a;
			}
		}
	}

	/* Comments by the author of the post. */
	&.bypostauthor {
		border: 1px solid #ccc;
	}
}

.comment__reply {
	text-align: right;

	/* This is styled to look like a button. */
	.comment-reply-link {
		background: #fff;
		border: 1px solid #ccc;
		color: black;
		font-size: 0.6rem;
		font-weight: 300;
		padding: 0.1rem 0.3rem;
		text-transform: uppercase;

		&:focus,
		&:hover {
			background: #eaeaea;
		}
	}
}

.accessible-links {
	.comment-reply-link {
		text-decoration: none;
	}
}

.calendar_wrap {
	border: 1px solid #f1f1f1;

	#wp-calendar {
		#prev,
		#next {
			a {
				background: #e6e6e6;
				border-radius: 0.2em;
				color: black;
			}
		}
	}
}

//* === Typography === *//

$font__base-size: 1rem;

/* Whether to indent post content paragraphs, true or false. */
$font__indent: false;

/* Character between breadcrumbs. */
$font__breadcrumb-sep: ">";

/* Root font size on mobile. 1rem = 16px */
:root {
	font-size: 100%;
}

/* Root font size on tablet/desktop. 1rem = 20px */
@media screen and (min-width: 600px) {
	:root {
		font-size: 125%;
	}
}

body,
button,
input,
select,
optgroup,
textarea {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: $font__base-size;
	line-height: 1.8;
}

body {
	color: #404040;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site__title {
	font-family: "Source Sans Pro", sans-serif;
}

/* Set heading sizes using the modular scale. https://type-scale.com/ */
$modularscale: (
	base: 0.7 * $font__base-size,
	ratio: 1.333 /* Minor third*/
);

/* stylelint-disable comment-empty-line-before */

/* Uncomment the block below to view the calculated values in the console. */

/*
@debug ms(5);
@debug ms(4);
@debug ms(3);
@debug ms(2);
@debug ms(1);
*/

/* stylehint-enable */

/* Heading line height is set in _typography.scss. */
.site__title {
	font-size: ms(4);
}

h1 {
	font-size: ms(5);
	padding: 0.5em 0;
}

$font__h2-size: ms(4);

h2 {
	font-size: $font__h2-size;
	padding: 0.7em 0;
}

h3 {
	font-size: ms(3);
	padding: 0.5em 0;
}

h4 {
	font-size: ms(2);
	padding: 0.5em 0;
}

h5 {
	font-size: ms(1);
	padding: 1em 0;
}

h6 {
	font-size: ms(0);
	padding: 1em 0;
}

.widget-title {
	font-size: ms(3);
	padding: 1em 0;
}

/* Note: Don't add or take away the text underline for links if you're using
the theme's Customizer setup as-is. Underlines are toggled via a setting. */
a {
	color: #4169e1;
	font-weight: 500;

	&:visited {
		color: #800080;
	}

	&:hover,
	&:focus,
	&:active {
		color: #191970;
	}

	&:focus {
		outline: thin dotted;
	}
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
}

blockquote {
	font-size: 1.4rem;
	font-style: italic;

	cite {
		font-size: 1rem;
		font-style: normal; // Unset italic
	}
}

code,
pre,
samp,
tt,
var {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9em;
}

figure {
	&:not(.entry-embed-audio):not(.gallery) {
		figcaption {
			color: #808080;
			font-size: 0.8rem;
			font-style: italic;
		}
	}
}

/* The default hr style is set in _typography.scss. */
hr {
	color: #404040;
}

ol {
	list-style: decimal; // Change to roman numerals if you want! The world's your oyster!
}

ul {
	list-style: disc;

	/* To use a custom bullet point character, set the above to list-style: none;
	and uncomment the following: */

	/*
	li {
		&::before {
			content: ""; // Unicode character to use.
			margin-right: 1rem;
		}
	}
	*/
}

/* "Skip to Content" button */
.screen-reader-text {
	&:focus {
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		border-radius: 3px;
		color: #404040;
		font-size: 1.4rem;
	}
}

$color__nav-top-link: black;
$color__nav-top-link-hover: #aaa;

.nav-top {
	a {
		color: $color__nav-top-link;

		&:hover,
		&:focus {
			color: $color__nav-top-link-hover;
		}

		&:visited {
			color: $color__nav-top-link;

			&:hover,
			&:focus {
				color: $color__nav-top-link-hover;
			}
		}
	}
}

.nav-main {
	text-transform: uppercase;

	.sub-menu {
		font-size: 0.8rem;
		line-height: 1.3;
	}
}

.nav-top,
.nav-footer {
	font-size: 0.9rem;
}

.entry__meta {
	font-size: 0.9rem;
}

.nav-posts {
	font-size: 1.3em;
	text-align: center;
}

.entry__meta-header {
	color: #808080;
}

.format-status {
	.status {
		font-size: ms(4);
		text-align: center;
	}
}

//* ====== Forms ===== *//

input,
select,
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;

	&:focus,
	&:active {
		box-shadow: inset 1px 1px 5px #e8e8e8;
		color: #111;
	}
}

.input-error {
	border: 1px solid #f4425f;
}

.error {
	color: #f4425f;
}

.comments__status-success {
	color: #0eba42;
}

$color__button-bg: #e6e6e6;

button,
.button {
	border: 1px solid #ccc;
	border-radius: 3px;
	background: $color__button-bg;
	color: rgba(0, 0, 0, 0.8);

	&:hover,
	&:focus {
		background: lighten($color__button-bg, 5%);
	}

	&:active, {
		background: darken($color__button-bg, 5%);
	}
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend button;
}

.comment-reply {
	text-align: right;

	.comment-reply-link {
		font-size: 0.8rem;
		text-decoration: none;
	}
}

//* ====== SVG ====== *//

.sub-menu {
	.menu-item {
		a::before {

			/* A little new line arrow to indicate a sub-menu */
			content: url('data:image/svg+xml; utf8, <svg alt="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20"><path d="M1 4v8h12v4l6-5-6-5v4H3V4z"/></svg>');
			margin-right: 0.3rem;
			vertical-align: middle;
		}
	}
}

article[class*="post_format"],
.post-password-required {
	.entry__title::before {
		margin: 0.2rem 0.5rem 0 0;
	}
}

$size__post-format-svg: round($font__h2-size * 0.75);

.format-audio {
	.entry__title {
		&::before {
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path d="M19.803 13.207l-.829 1.093-1.554-3.826c-.077-.189-.244-.306-.437-.306-.157 0-.356.084-.444.321l-1.356 3.664-1.872-8.759c-.062-.291-.288-.394-.462-.394-.203 0-.428.131-.473.424l-1.629 10.581-1.658-6.968c-.067-.282-.291-.382-.463-.382-.167 0-.374.092-.453.349l-1.453 4.753-1.07-2.53c-.078-.185-.245-.299-.436-.299-.154 0-.294.076-.385.209l-1.257 1.805-.087.058h-2.985c-.276 0-.5.224-.5.5s.224.5.5.5h3.284c.152 0 .296-.074.386-.206l.948-1.353 1.24 2.929c.079.187.241.299.433.299.211 0 .39-.138.455-.35l1.324-4.332 1.814 7.629c.068.283.282.384.46.384.203 0 .428-.131.473-.425l1.605-10.425 1.673 7.83c.058.272.277.395.467.395.202 0 .366-.12.441-.321l1.5-4.049 1.426 3.51c.077.189.245.306.438.306.152 0 .292-.075.382-.206l1.146-1.583.087-.046h3.026c.272 0 .492-.22.492-.492s-.22-.494-.492-.494h-3.322c-.151 0-.294.077-.383.207z"/></svg>');
		}
	}
}

.format-chat {
	.entry__title {
		&::before {
			content: url('data:image/svg+xml; utf8, <svg viewBox="0 0 24 24" width="2em" height="2em" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 9.999v-2h4v12.001h-3v4l-5.333-4h-7.667v-4h12v-6.001zm-2 4.001h-9.667l-5.333 4v-4h-3v-14.001h18v14.001z"/></svg>');
		}
	}
}

.format-gallery {
	.entry__title {
		&::before {
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path d="M17.676 15.54c-1.433-.331-2.767-.621-2.121-1.841 1.966-3.713.521-5.699-1.555-5.699-2.117 0-3.527 2.062-1.555 5.699.665 1.227-.719 1.517-2.121 1.841-1.432.331-1.322 1.087-1.322 2.46h9.996c0-1.373.11-2.129-1.322-2.46zm-12.676-11.521v19.981h18v-19.981h-18zm16 15.981h-14.046v-14h14.046v14zm-1-20v2h-17v19h-2v-21h19z"/></svg>');
		}
	}
}

.format-image {
	.entry__title {
		&::before {
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path d="M5 4h-3v-1h3v1zm8 6c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3zm11-5v17h-24v-17h5.93c.669 0 1.293-.334 1.664-.891l1.406-2.109h8l1.406 2.109c.371.557.995.891 1.664.891h3.93zm-19 4c0-.552-.447-1-1-1s-1 .448-1 1 .447 1 1 1 1-.448 1-1zm13 4c0-2.761-2.239-5-5-5s-5 2.239-5 5 2.239 5 5 5 5-2.239 5-5z"/></svg>');
		}
	}
}

.format-link {
	.entry__title {
		&::before {
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" role="presentation" width="2em" height="2em" viewBox="0 0 24 24"><path d="M6.188 8.719c.439-.439.926-.801 1.444-1.087 2.887-1.591 6.589-.745 8.445 2.069l-2.246 2.245c-.644-1.469-2.243-2.305-3.834-1.949-.599.134-1.168.433-1.633.898l-4.304 4.306c-1.307 1.307-1.307 3.433 0 4.74 1.307 1.307 3.433 1.307 4.74 0l1.327-1.327c1.207.479 2.501.67 3.779.575l-2.929 2.929c-2.511 2.511-6.582 2.511-9.093 0s-2.511-6.582 0-9.093l4.304-4.306zm6.836-6.836l-2.929 2.929c1.277-.096 2.572.096 3.779.574l1.326-1.326c1.307-1.307 3.433-1.307 4.74 0 1.307 1.307 1.307 3.433 0 4.74l-4.305 4.305c-1.311 1.311-3.44 1.3-4.74 0-.303-.303-.564-.68-.727-1.051l-2.246 2.245c.236.358.481.667.796.982.812.812 1.846 1.417 3.036 1.704 1.542.371 3.194.166 4.613-.617.518-.286 1.005-.648 1.444-1.087l4.304-4.305c2.512-2.511 2.512-6.582.001-9.093-2.511-2.51-6.581-2.51-9.092 0z"/></svg>');
		}
	}
}

.format-video {
	.entry__title {
		&::before {
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path d="M22 1v2h-2v-2h-2v4h-12v-4h-2v2h-2v-2h-2v22h2v-2h2v2h2v-4h12v4h2v-2h2v2h2v-22h-2zm-18 18h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm14 9h-12v-8h12v8zm4 3h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2z"/></svg>');
		}
	}
}

.post-password-required {
	.entry__title {
		&::before {

			/* A keyhole. */
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path d="M15.366 0c-6.248 0-8.665 7.498-3.77 12.4 3.134 3.14 7.864 3.498 10.566.792 4.559-4.566.008-13.192-6.796-13.192zm4.909 11.287c-1.985 1.988-5.062.916-4.812-1.718.056-.59-.442-1.086-1.029-1.029-2.609.249-3.709-2.822-1.714-4.821 1.995-1.998 5.062-.895 4.812 1.718-.056.594.444 1.087 1.029 1.03 2.607-.248 3.71 2.82 1.714 4.82zm-11.798 7.053l2.119 2.122-1.413 1.416-1.413-1.416-.706.708 1.413 1.415-1.413 1.415-2.119-2.123-2.12 2.123-2.825-2.83 8.891-8.905c.38.547.811 1.067 1.293 1.55.476.477.992.902 1.534 1.279l-3.241 3.246z"/></svg>');
		}
	}
}

.entry__meta {
	.meta {
		&::before {
			margin-right: 0.2rem;
		}
	}

	.meta-comments {
		&::before {

			/* An unfilled comment bubble */
			content: url('data:image/svg+xml; utf8, <svg alt="" class="icon-comments" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625l-1.993 6.368 6.946-3c1.705.439 3.334.641 4.864.641 7.174 0 12.136-4.439 12.136-9.634 0-5.812-5.701-10.007-12-10.007m0 1c6.065 0 11 4.041 11 9.007 0 4.922-4.787 8.634-11.136 8.634-1.881 0-3.401-.299-4.946-.695l-5.258 2.271 1.505-4.808c-1.308-1.564-2.165-3.128-2.165-5.402 0-4.966 4.935-9.007 11-9.007"/></svg>');
		}
	}

	.meta-permalink {
		&::before {

			/* A link icon */
			content: url('data:image/svg+xml; utf8, <svg alt="" class="icon-permalink" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M6.188 8.719c.439-.439.926-.801 1.444-1.087 2.887-1.591 6.589-.745 8.445 2.069l-2.246 2.245c-.644-1.469-2.243-2.305-3.834-1.949-.599.134-1.168.433-1.633.898l-4.304 4.306c-1.307 1.307-1.307 3.433 0 4.74 1.307 1.307 3.433 1.307 4.74 0l1.327-1.327c1.207.479 2.501.67 3.779.575l-2.929 2.929c-2.511 2.511-6.582 2.511-9.093 0s-2.511-6.582 0-9.093l4.304-4.306zm6.836-6.836l-2.929 2.929c1.277-.096 2.572.096 3.779.574l1.326-1.326c1.307-1.307 3.433-1.307 4.74 0 1.307 1.307 1.307 3.433 0 4.74l-4.305 4.305c-1.311 1.311-3.44 1.3-4.74 0-.303-.303-.564-.68-.727-1.051l-2.246 2.245c.236.358.481.667.796.982.812.812 1.846 1.417 3.036 1.704 1.542.371 3.194.166 4.613-.617.518-.286 1.005-.648 1.444-1.087l4.304-4.305c2.512-2.511 2.512-6.582.001-9.093-2.511-2.51-6.581-2.51-9.092 0z"/></svg>');
		}
	}

	.meta-link-edit {
		&::before {

			/* A pencil icon */
			content: url('data:image/svg+xml; utf8, <svg alt="" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M19.769 9.923l-12.642 12.639-7.127 1.438 1.438-7.128 12.641-12.64 5.69 5.691zm1.414-1.414l2.817-2.82-5.691-5.689-2.816 2.817 5.69 5.692z"/></svg>');
		}
	}
}


//* ===== Blocks ===== *//

.has-small-font-size {
	font-size: 0.8rem;
}

.has-medium-font-size {
	font-size: $font__base-size;
}

.has-large-font-size {
	font-size: ms(3);
}

.has-huge-font-size {
	font-size: ms(4);
}

$color__block-button-bg: black;

.wp-block-button {
	.wp-block-button__link {
		background: $color__block-button-bg;
		border-radius: 2rem;
		color: #fff;
		padding: 0.5rem 1rem;
		transition: 0.2s ease all;

		&:hover,
		&:focus {
			background: lighten($color__block-button-bg, 30%);
		}
	}
}

.wp-block-file {
	&::before {

		/* Adds a little file icon before file download links */
		content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M15 2v5h5v15h-16v-20h11zm1-2h-14v24h20v-18l-6-6z"/></svg>');
	}
}

.wp-block-file__button {
	background: #009688;
	border: 1px solid black;
	border-radius: 0.2em;
	box-shadow: 1px 1px 1px white inset, 1px 1px 1px black;
	color: white;
	padding: 0.2em;
}


//* == Media Player == *//

$color__player-bg: #808080;

.audio-column-right {
	background: lighten($color__player-bg, 10%);

	figcaption,
	.wp-playlist-caption {
		color: #fff;
	}
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	background-color: #663dff !important;
	background-image: linear-gradient(319deg, #663dff 0%, #a0f 37%, #c49 100%) !important;
}

.mejs-container,
.mejs-container .mejs-controls,
.mejs-embed,
.mejs-embed body {
	background: $color__player-bg !important;
}

/*
.mejs-container.mejs-container,
.mejs-container .mejs-controls,
.mejs-container .mejs-embed,
.mejs-container .mejs-embed body {
	border: .01em solid #f0f0f0;
}
*/

.wp-playlist {
	.wp-playlist-current-item {
		.wp-playlist-item-title {
			font-weight: 500;
		}

		.wp-playlist-item-album {
			text-transform: uppercase;
		}

		.wp-playlist-item-artist {
			color: #e1e1e1;
		}
	}

	.wp-playlist-tracks {
		border: 1px solid #dbdbdb;

		.wp-playlist-playing {
			background: #f8f8f8;
		}
	}
}


//* ==== Swipebox ==== *//

.swipebox-overlay {
	background: rgba(13, 13, 13, 0.8);
}

.swipebox-container {
	.swipebox-bar {
		color: white;
	}
}
