/*
 * Posts & Pages
 *
 * Description: Styles related to post display in archives and singular views.
 * Version: 1.0.0
 * License: GPL 3.0 or later
 */

/* ---------------------
 * CONTENTS:
 * =Pages
 * =Posts
 * =Comments
 * =Post Formats
--------------------- */

//* ======= Pages ======= *//

/* Currently only used for archive descriptions. */
.page__desc {
	p {
		margin: 0;
	}
}

.search-results {
	.search-form {
		margin-bottom: 2rem;
	}
}


//* ======= Posts ======= *//

/* All posts */
.post,
.type-attachment {
	margin: 0 0 2rem;
	padding: $size__post-padding;
	position: relative;

	.entry__title {
		padding-bottom: 0.3rem; // Bring it closer to the meta section
	}

	.entry__meta {
		.meta,
		.meta__tag {
			margin-right: 0.5rem;
		}

		.meta-tags {
			margin: 0;
		}
	}

	.entry__meta-header {
		margin-bottom: 0.5rem;
	}

	.entry__thumbnail {
		display: flex;
		margin: #{-$size__post-padding} #{-$size__post-padding} 0; // Negative margin to accomodate post padding

		.attachment-post-thumbnail {
			align-self: center;
			object-fit: cover;
			width: 100%;
		}
	}

	.sticky-ribbon {
		height: 90px;
		overflow: hidden;
		position: absolute;
		right: -10px;
		top: -9px;
		width: 90px;

		span {
			font-size: 0.9rem;
			position: absolute;
			right: -21px;
			text-align: center;
			transform: rotate(45deg);
			top: 19px;
			width: 110px;

			&::before {
				border-bottom: 3px solid transparent;
				border-left: 3px solid #808080;
				border-right: 3px solid transparent;
				border-top: 3px solid #808080;
				content: "";
				position: absolute;
				left: 0;
				top: 100%;
				z-index: -1;
			}

			&::after {
				border-bottom: 3px solid transparent;
				border-left: 3px solid transparent;
				border-right: 3px solid #808080;
				border-top: 3px solid #808080;
				content: "";
				position: absolute;
				right: 0;
				top: 100%;
				z-index: -1;
			}

		}
	}

	.entry__meta-footer {
		margin: 2rem 0;
	}
}

/* Single displays */
.single {
	.attachment-post-thumbnail {
		max-height: $size__max-featured-height;
	}
}

/* Archive displays */
.archive,
.blog,
.home,
.search {
	.page,
	.post,
	.type-attachment {
		margin: 1rem 0;

		.attachment-post-thumbnail {
			max-height: $size__max-thumbnail-height;
		}
	}
}


//* ==== Comments ==== *//

.comments__status {
	margin: 0;
}

.comments__list {
	list-style: none;
	padding: 0;

	.children {
		list-style: none;
		margin-left: 0.2rem;
		padding: 0 1rem;
	}
}

.comment,
.pingback,
.trackback {
	margin-bottom: 1rem;

	.comment__body {
		padding: 1rem; // Padding on article to avoid stacking in comment threads
	}
}

.comment__footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0.2rem;

	.footer__vcard {
		margin: 0;
		text-align: left;

		.vcard__author {
			display: inline;
			font-style: normal;
		}
	}

	.avatar {
		float: left;
		margin: 0 1rem 0 0;
	}

	.comment__meta {
		font-size: 0.8rem;
		text-align: right;

		.meta-time {
			margin-right: 0.5rem;
		}

		.meta-link:not(:last-of-type) {
			margin-right: 0.2rem;
		}
	}
}

.comment-reply-link {
	padding: 0.2rem 0.3rem;
}

/* Reply form */
.comment-respond {
	margin-bottom: 2rem;

	.logged-in-as {
		margin-top: 0;
	}
}


//* == Post Formats == *//

.format-chat {
	.entry__content {
		.chat-transcript {
			margin-top: 0.7rem;

			.chat-row {
				margin-bottom: 0.7rem;

				.chat-speaker {
					font-weight: 500;
					margin-right: 1rem;
				}
			}

			.chat-row-nospeaker {
				.chat-text {
					font-style: italic;
					margin: 0.7rem 0;
				}
			}

			p + p {
				text-indent: 0;
			}

			p {
				margin: 0;
			}
		}
	}
}
